.center {
    height: 25%;
    background-color: #F3FBFD;
    color: cadetblue;
}

.head {
    background-image: url("CA_APIM.jpg");
    background-size: cover;
}

li:hover {
    opacity: 0.6;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #09AEEF;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.data {
    margin: 5%;
}

.btn-group {
    margin: 0 5%;
}

.btn-group button {
    float: left;
    /* Float the buttons side by side */
    margin: 20px 50px;
}
